section input.light{
    background-color:  rgba(19, 17, 17, 0.966);
    width: 90%;
    color:  #fff9f9;
 }

 main.light {
    background-color: rgba(19, 17, 17, 0.966);
}

main button.light {
    background-color: #fff9f9;
    color: rgba(252, 64, 64, 0.966);
}

main p.light {
    color: #fff9f9;
}
