

.container span {
    color: rgba(252, 64, 64, 0.966);
    font-weight: 700;
    font-size: 3em;
}

.container span:hover {
    color: rgba(252, 64, 64, 0.966);

}

.navbar-toggler-icon {
  background-color: rgb(255, 255, 255)!important;
  width: 0.6em;
  height: 0.6em;
  box-shadow: 1,0,1,2 rgb(107, 107, 228);
  border-radius: 0.1em;
}



.navbar-nav {
    margin-left: 2em;
    font-size: 1.2em;
    
}

.navbar-nav a {
    color: white;
    text-decoration: none;
    margin-left: 0.5em;
    
}

.navbar-nav a:hover {
    color: rgba(252, 64, 64, 0.966);
    transition: 0.6s;
}

.navbar {
    padding: 0px;
}

.container  {
    margin-left: 4em;
}


@media (max-width: 768px) {
    .navbar-nav {
        margin-left: 0;
    }

    .container {
        margin-left: 5px;
    }
}




